<div class="header">
    <div class="navItem">
        <a href="/" class="homeLink navLink">
            Главная
        </a>
    </div>
    <div class="navItem">
        <a href="/register" class="registerLink navLink">Регистрация</a>
    </div>
    <div class="navItem">
      <a href="/experiment" class="experimentLink navLink">Эксперимент</a>
    </div>
    <div class="navItem">
      <a href="/all_users" class="experimentLink navLink">Все пользователи</a>
    </div>
    <div class="navItem">
      <button id="logout">
        Выйти
      </button>
    </div>
    <script src="../scripts/logout.js"></script>
</div>
